<nav class="sidenav">
  <ul>
    <li><a routerLink="/"><span class="text">Dashboard</span> <span class="icon"> <fa-icon [icon]="dashboard"></fa-icon> </span></a></li>
    <li><a routerLink="/about"><span class="text">e-Courses</span> <span class="icon"> <fa-icon [icon]="e"></fa-icon></span></a></li>
    <li><a routerLink="/about"> <span class="text">e-Library</span> <span class="icon"> <fa-icon [icon]="e"></fa-icon></span></a></li>
    <li><a routerLink="/about"> <span class="text"> Achievements</span> <span class="icon"> <fa-icon [icon]="archivement"></fa-icon></span></a></li>
    <li><a routerLink="/about"><span class="text"> Messaging</span>  <span class="icon"> <fa-icon [icon]="message"></fa-icon></span></a></li>
    <li><a routerLink="/about"><span class="text">Catalog Mnanagement</span>  <span class="icon"> <fa-icon [icon]="catelog"></fa-icon></span></a></li>
    <li><a routerLink="/about"><span class="text">Author</span></a></li>
    <li><a routerLink="/about"><span class="text">My Courses</span></a></li>
    <li><a routerLink="/about"><span class="text">My Collection</span></a></li>
    <li><a routerLink="/about"><span class="text">Reports</span> </a></li>
    <li><a routerLink="/about"><span class="text">Settings</span>  <span class="icon"> <fa-icon [icon]="setting"></fa-icon></span></a></li>
  </ul>
</nav>
